<section class='tab scrollable {{tabs.character.id}}{{#if tabs.character.cssClass}} {{tabs.character.cssClass}}{{/if}}'
         data-group='{{tabs.character.group}}'
         data-tab='{{tabs.character.id}}'>
  <div class='tab-content'>
    {{> 'systems/honor-and-intrigue/templates/sheets/actor/partials/career-list.hbs'}}
    {{> 'systems/honor-and-intrigue/templates/sheets/actor/partials/boon-flaw-list.hbs'}}
  </div>
</section>
