<section class='tab scrollable {{tabs.inventory.id}}{{#if tabs.inventory.cssClass}} {{tabs.inventory.cssClass}}{{/if}}'
         data-group='{{tabs.inventory.group}}'
         data-tab='{{tabs.inventory.id}}'>
  <div class='tab-content'>
    {{#*inline 'inventorySection'}}
      {{> 'systems/honor-and-intrigue/templates/api/item-list.hbs'
        adjustable=true
        dataType=type
        items=(lookup inventory type)
        quantityFieldName='quantity'
        title=(localize (concat 'HONOR_INTRIGUE.Actor.Sheet.Labels.Inventory.' type))
        wrapperClass=(concat type '-list')
      }}
    {{/inline}}

    {{> inventorySection type='weapon'}}
    {{> inventorySection type='armor'}}
    {{> inventorySection type='equipment'}}
    {{> inventorySection type='treasure'}}
  </div>
</section>
