.honor-intrigue.roll-dialog {
  .modifiers-table {
    align-items: center;
    display: grid;
    justify-items: start;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 1rem;

    &-header {
      font-weight: bold;
      grid-column: 1 / span 2;
      grid-row: 1;
      justify-self: stretch;
      margin-bottom: 0.5rem;

      .label-bar {
        > span {
          align-self: center;
          padding-left: 0;
        }
      }
    }

    &-items {
      display: contents;
      grid-column: 1 / span 2;
      grid-row: 2;
    }

    &-item {
      display: contents;

      & :not(.fa-*) {
        font-family: var(--font-bold);
        font-size: var(--font-size-18);
      }

      :first-child {
        grid-column: 1;
      }

      :nth-child(2) {
        grid-column: 2;
        justify-self: end;
      }

      select[data-dtype='String'] {
        text-overflow: ellipsis;
        white-space-collapse: collapse;
      }

      &-group {
        display: flex;
        gap: 0.1rem;

        input {
          text-align: center;
        }

        select {
          min-width: 60px;
        }

        button {
          &.toggled {
            background: light-dark(var(--color-navy), var(--color-gold-dull));
            color: light-dark(var(--color-gold), var(--color-navy));
          }
        }
      }
    }
  }

  .protection-options {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 1fr 60px;

    .protection-option-item {
      display: contents;

      &:not(.toggled) {
        > p {
          font-style: italic;
          text-decoration: line-through;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;

    .roll-mode-buttons {
      button {
        border-color: light-dark(var(--color-navy), var(--color-gold-dull));
      }

      button.selected {
        background: light-dark(var(--color-navy), var(--color-gold));
        color: light-dark(var(--color-gold), var(--color-navy));
      }
    }
  }
}
