.honor-intrigue.sheet.item {
  --portrait-size: 150px;

  min-height: 400px;
  min-width: 750px;

  .tab-content {
    display: flex;

    prose-mirror {
      flex: 1;

      &.active {
        border: 1px solid light-dark(var(--color-navy), var(--color-gold-dull));
      }

      .editor-content {
        padding-left: 0.5rem;
      }
    }
  }
}
