.honor-intrigue.sheet.item {
  --portrait-size: 150px;

  min-height: 400px;
  min-width: 750px;

  .tab-content {
    display: flex;
  }

  &.career {
    .sidebar-details {
      .rank-field {
        align-items: center;
        display: flex;
        gap: 1rem;
        margin-top: 40px;
        padding: 0 1rem;

        input {
          width: 40px;
          text-align: center;
        }

        label {
          font-family: var(--font-bold);
          font-size: var(--font-size-18);
        }
      }
    }
  }
}
