.honor-intrigue.sheet.item {
  --portrait-size: 150px;

  min-height: 400px;
  min-width: 750px;

  .tab-content {
    display: flex;
  }

  &.career {
    .sidebar-details {
      .rank-field {
        align-items: center;
        display: flex;
        gap: 1rem;
        margin-top: 40px;
        padding: 0 1rem;

        input {
          width: 40px;
          text-align: center;
        }

        label {
          font-family: var(--font-bold);
          font-size: var(--font-size-18);
        }
      }
    }
  }

  &.boon-flaw {
    .details {
      .new-rule-section {
        display: flex;
        justify-content: stretch;
        padding: 0.5rem;
      }

      .effect-rule-list {
        display: flex;
        flex-direction: column;

        .effect-item {
          align-items: center;
          display: grid;
          gap: 0.25rem;
          grid-template-columns: 2fr 1fr 1fr 60px 20px;
          margin-top: 0.5rem;
          padding: 0.5rem;

          &:nth-child(even) {
            background-color: var(--color-navy-light);
          }

          .effect-item-name {
            align-items: center;
            display: flex;
            gap: 0.25rem;
            grid-area: 1 / span 5;
          }

          header, ol, ol li {
            display: contents;
          }
        }
      }
    }
  }
}
