<section class='mastery-bonus{{#if system.isMastered}} mastered{{/if}}'>
  <fieldset>
    <legend>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Maneuvers.MasteryHint'}}</legend>
    <p>{{system.mastery}}</p>
  </fieldset>
</section>
