.honor-intrigue.sheet.actor {
  .sheet-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 0.25rem;

    .characteristic-row {
      display: flex;
      flex: 1;

      > div:first-of-type {
        flex: 1;
      }

      hr {
        margin-left: -0.25rem;
      }
    }

    .advancement-points, .fortune-points {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 0;
      font-size: var(--font-size-24);
      gap: 0.5rem;
      margin: 0 0.5rem;
      min-width: 55px;

      > span {
        min-width: 28px;
        text-align: center;
        width: 28px;
      }
    }

    .fortune-points {
      align-items: flex-start;
      align-self: flex-end;

      i:hover {
        --fa: '\f021';
      }
    }
  }
}
