.honor-intrigue.sheet.actor {
  .inventory {
    .tab-content {
      gap: 1rem;
    }

    .inventory-list {
      border: 1px solid var(--color-gold-dull);
      display: grid;
      grid-column-gap: 0.25rem;
      grid-template-columns: 2fr 60px 1fr;
      grid-template-rows: auto 1fr;

      &-header {
        align-items: center;
        background: var(--color-gold-dull);
        display: grid;
        font-weight: bold;
        color: black;
        grid-area: 1 / span 3;
        grid-template-columns: subgrid;
        padding: 0.1em 0.25em;

        :first-child {
          font-size: var(--font-size-18);
        }

        :last-child {
          justify-self: flex-end;
        }
      }

      &-items {
        align-items: center;
        display: grid;
        grid-column: span 3;
        grid-row-gap: 0.25rem;
        grid-template-columns: subgrid;
        list-style: none;
        margin: 0;
        padding: 0.25em;

        .inventory-item {
          align-items: center;
          display: grid;
          grid-column: span 3;
          grid-template-columns: subgrid;
          margin: 0;

          > div {
            align-items: center;
            display: flex;
            gap: 0.5rem;
          }

          &-image {
            width: 30px;
          }

          &-name {
            cursor: pointer;
            flex: 1;
          }

          &-quantity {
            justify-content: center;

            > span {
              text-align: center;
              width: 30px;
            }
          }

          &-controls {
            justify-content: flex-end;

            i[class*='fa-'] {
              min-width: 18px;
              text-align: center;
              vertical-align: middle;
              width: 18px;
            }
          }

          &-embed {
            grid-column: span 3;
            padding: 0 1em;
          }
        }
      }
    }
  }
}
