<div class='d10-svg'>
  <svg xmlns="http://www.w3.org/2000/svg"
       preserveAspectRatio='xMinYMin meet'
       viewBox="0 0 512 512">
    <path
      fill='currentColor'
      fill-rule='evenodd'
      d="M512 282.595c0-7.59-2.68-15.216-8.115-21.345L279.774 10.625C273.524 3.5 264.775 0 256.025 0s-17.499 3.5-23.749 10.625L8.165 261.25A31.792 31.792 0 0 0 0 282.544 31.936 31.936 0 0 0 10.79 306.5L234.901 504c6 5.375 13.625 8 21.124 8 7.5 0 15.124-2.625 21.124-8L501.26 306.5c7.121-6.315 10.74-15.086 10.74-23.905ZM256.025 298l-75.87-50.625 75.87-177 75.871 177L256.025 298Zm-107.244-58.25L47.788 265 221.027 71.125 148.781 239.75Zm214.488 0L291.023 71.125 464.513 265l-101.244-25.25ZM49.037 297.625 157.281 270.5l82.745 55.25V466L49.037 297.625Zm222.987 168.25V325.75l82.745-55.25 108.119 27.125-190.864 168.25Z" />
  </svg>
</div>
