body {
  --color-gold: hsl(46, 100%, 48%);
  --color-gold-dull: hsl(46, 25%, 50%);
  --color-navy: hsl(215, 25%, 21%);
  --color-navy-exp: 215, 25%, 21%;
  --color-text-primary: light-dark(var(--color-navy), #DDDDDD);
}
