.sidebar-tab {
  &.actors-sidebar {
    .folder[data-party] {
      & header {
        background: var(--color-navy);

        & button {
          --button-text-color: var(--color-light-2);
        }
      }
    }

    .entry-name {
      line-height: unset;
    }

    .entry-subtitle {
      color: var(--color-dark-6);
      font-size: var(--font-size-12);
    }
  }
}
