<header class='sheet-header'>
  <div class='portrait'>
    <img src='{{document.img}}' alt='{{document.name}}' data-action='editImage' data-edit='img'>
  </div>

  <div>
    <h1 class='name'>
      {{formInput fields.name value=source.name}}
    </h1>
  </div>
</header>
