<section class='tab scrollable {{tabs.stash.id}}{{#if tabs.stash.cssClass}} {{tabs.stash.cssClass}}{{/if}}'
         data-group='{{tabs.stash.group}}'
         data-tab='{{tabs.stash.id}}'>
  party stash
</section>
