<div class='flexcol flex1 label-bar'>
  <div class='flexrow'>
    <span class='flex1'>{{localize label}}</span>
    {{#if @partial-block}}
      {{> @partial-block}}
    {{/if}}
  </div>
  <hr />
</div>
