@forward 'base/header';
@forward 'base/sidebar';

.honor-intrigue.sheet.actor {
  .career-list {
    .suggestion-box {
      height: 100px;
      margin: 1rem;
    }
  }

  .item-list {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    .item {
      margin: 0;

      &-row {
        align-items: center;
        background: light-dark(var(--background), hsl(var(--color-navy-exp), 0.75));
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 0.25rem;
        padding: 0.5rem;
      }

      &-image {
        width: 30px;

        img {
          vertical-align: top;
          width: 100%;
        }
      }

      &-name {
        cursor: pointer;
        flex: 1;
        font-size: var(--font-h5-size);
      }

      &-controls {
        align-items: center;
        display: flex;
        gap: 0.5rem;
      }

      &-embed {
        flex: 0 0 100%;
      }
    }
  }
}
