@forward 'base/header';
@forward 'base/sidebar';

.honor-intrigue.sheet.actor {
  .career-list, .boon-flaw-list {
    .suggestion-box {
      height: 100px;
      margin: 1rem;
    }
  }

  .item-list {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    .item {
      margin: 0;

      &-row {
        align-items: center;
        background: light-dark(hsl(0, 0%, 0%, 0.15), hsl(var(--color-navy-exp), 0.75));
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 0.25rem;
        min-height: 50px;
        padding: 0.5rem;
      }

      &-image {
        width: 30px;

        img {
          vertical-align: top;
          width: 100%;
        }
      }

      &-name {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex: 1;
        font-size: var(--font-h5-size);
        justify-content: space-between;
      }

      &-controls {
        align-items: center;
        display: flex;
        gap: 0.5rem;
      }

      &-tags {
        align-items: center;
        column-gap: 0.1rem;
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        row-gap: 0.1rem;

        .item-tag {
          border: 1px dotted light-dark(var(--color-navy), var(--color-gold-dull));
          border-radius: 5px;
          padding: 0 0.25rem;

          > p {
            margin: 0;
          }
        }
      }

      &-embed {
        flex: 0 0 100%;
      }

      &.boon {
        .item-name {
          color: var(--color-green);
        }
      }

      &.flaw {
        .item-name {
          color: var(--color-red);
        }
      }
    }
  }
}
