@forward 'base/header';
@forward 'base/sidebar';

.honor-intrigue.sheet.actor {
  .career-list, .boon-flaw-list {
    .suggestion-box {
      height: 100px;
      margin: 1rem;
    }
  }

  .item-list {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;

    .item {
      margin: 0;

      &-row {
        align-items: center;
        background: light-dark(hsl(0, 0%, 0%, 0.15), hsl(var(--color-navy-exp), 0.75));
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto auto;
        margin-bottom: 0.25rem;
        min-height: 50px;
        padding: 0.5rem;
      }

      &-image, &-drag-handle {
        grid-area: 1 / 1;
      }

      &-image {
        width: 30px;
      }

      &-name {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: var(--font-h5-size);
        grid-area: 1 / 2;
        justify-content: space-between;
      }

      &-controls {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        grid-area: 1 / 3;

        input {
          text-align: center;
          width: 40px;
        }
      }

      &-tags {
        align-items: center;
        display: flex;
        gap: 0.1rem;
        grid-area: 2 / span 3;
        margin-top: 0.5rem;

        .item-tag {
          border: 1px dotted light-dark(var(--color-navy), var(--color-gold-dull));
          border-radius: 5px;
          padding: 0 0.25rem;

          > p {
            margin: 0;
          }
        }
      }

      &-embed {
        grid-area: 3 / span 3;
      }

      &.boon {
        .item-name {
          color: var(--color-green);
        }
      }

      &.flaw {
        .item-name {
          color: var(--color-red);
        }
      }
    }
  }
}
