.honor-intrigue.sheet.hero {
  .sheet-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 0.25rem;

    .characteristic-row {
      display: flex;
      flex: 1;

      > div:first-of-type {
        flex: 1;
      }
    }

    .advancement-points, .fortune-points {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 0;
      font-size: var(--font-size-24);
      gap: 0.5rem;
      margin-left: 0.5rem;
      min-width: 55px;
    }

    .fortune-points {
      align-items: flex-start;
      align-self: flex-end;
    }
  }
}
