@use 'sass:color';

.sheet.actor.hero {
  .sheet-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-left: 0.25rem;
    margin-top: var(--header-height);

    .characteristic-row {
      display: flex;
      flex: 1;

      h1 {
        margin-bottom: 0;

        input[type='text'] {
          font-family: var(--font-bold);
          font-size: var(--font-h1-size);
          height: 60px;
        }
      }

      input[type='text'] {
        border: 1px solid transparent;
        color: var(--color-text-primary);
        outline: 2px solid transparent;
        transition: all 0.25s ease;

        &:hover {
          outline: 2px solid light-dark(var(--color-navy), var(--color-gold));
        }
      }

      > div:first-of-type {
        flex: 1;
      }
    }

    .advancement-points, .fortune-points {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 0;
      font-size: var(--font-size-24);
      gap: 0.5rem;
      margin-left: 0.5rem;
      min-width: 55px;
    }

    .fortune-points {
      align-items: flex-start;
      align-self: flex-end;
    }
  }
}
