@use 'header';
@use 'sidebar';

.honor-intrigue.sheet.hero {
  --portrait-size: 275px;

  &:not(.minimized) {
    min-height: 710px;
    min-width: 700px;
  }

  .window-content {
    background:
      url('../assets/backgrounds/lunar_topography.webp') no-repeat scroll center right,
      light-dark(transparent, var(--color-navy));
    background-size: cover;
  }
}
