.honor-intrigue.input-stepper {
  display: flex;

  > button {
    border: 1px solid light-dark(var(--color-navy), var(--color-gold-dull));
    border-radius: 0;
    height: unset;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  > input {
    border: 1px solid light-dark(var(--color-navy), var(--color-gold-dull));
    border-radius: 0;
    font-size: var(--font-size-16);
    text-align: center;
    width: 40px;
  }
}
