<section class='tab {{tabs.background.id}}{{#if tabs.background.cssClass}} {{tabs.background.cssClass}}{{/if}}'
         data-group='{{tabs.background.group}}'
         data-tab='{{tabs.background.id}}'>
  <p>background Tab</p>
</section>
