<section class='tab {{tabs.effects.id}}{{#if tabs.effects.cssClass}} {{tabs.effects.cssClass}}{{/if}}'
         data-group='{{tabs.effects.group}}'
         data-tab='{{tabs.effects.id}}'>
  <p>effects Tab</p>
</section>
