<section class='tab {{tabs.maneuvers.id}}{{#if tabs.maneuvers.cssClass}} {{tabs.maneuvers.cssClass}}{{/if}}'
         data-group='{{tabs.maneuvers.group}}'
         data-tab='{{tabs.maneuvers.id}}'>
  <p>Maneuvers Tab</p>
</section>
