.chat-message {
  .flavor-text {
    margin-bottom: 0.5rem;

    h4 {
      margin: 0;
    }

    hr {
      border-top: 2px groove var(--color-gold);
      margin: 0;
    }

    .modifiers {
      display: flex;
      gap: 0.25rem;

      .modifier {
        border: 1px dotted var(--color-navy);
        border-radius: 5px;
        padding: 0 0.25rem;
      }
    }
  }
}
