{{#> 'systems/honor-and-intrigue/templates/sheets/item/base/sidebar.hbs'}}
  <div class='sidebar-details'>
    {{#if isActorCareer}}
      <div class='rank-field'>
        {{formInput systemFields.rank value=system.rank type='number'}}
        <label>{{localize 'HONOR_INTRIGUE.Actor.Sheet.Labels.Careers.Rank'}}</label>
      </div>
    {{/if}}
  </div>
{{/'systems/honor-and-intrigue/templates/sheets/item/base/sidebar.hbs'}}
